body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#general {
    height: 20em;
    width: 20em;
    border: 0.5em solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.aux {
    height: 4em;
    width: 4em;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.little {
    height: 2em;
    width: 4em;
}

